<div class='is-text-centered' id='ingredientSearch'>
  <h2 class='title'>What ingredient would you like to find a pairing for?</h2>
  <input type="text" class='input is-large is-centered is-text-centered' id="ingredientInput" ng-model='ingredientSearched' ng-enter='findIngredients()' placeholder="Chicken" required  ng-required="{ true }">
  <div class='is-centered'>
  <a class='button' id='findIngredient' ng-click='findIngredients()'>Find Ingredients!</a>
  </div>

</div>


<div id='matchedIngredientsOuterDiv' class='is-text-centered'>
<div ng-repeat="ingredient in matchedIngredients[0]" ng-if="$index % 5 == 0" class="row is-text-centered" id='matchedIngredients'>
  <form>
  <div class="col-xs-2"></div>
  <div class="col-xs-2" id='singleColumn' ng-show="matchedIngredients[0][$index] != null"><input type="checkbox" checklist-model="selectedIngredients.ingredients" checklist-value="matchedIngredients[0][$index]" ng-click=check() id="{{matchedIngredients[0][$index]}}" ><label for="{{matchedIngredients[0][$index]}}">{{matchedIngredients[0][$index]}}</label></div>
  <div class="col-xs-2" id='singleColumn' ng-show="matchedIngredients[0][$index+1] != null"><input type="checkbox" checklist-model="selectedIngredients.ingredients" checklist-value="matchedIngredients[0][$index+1]" ng-click=check() id="{{matchedIngredients[0][$index+1]}}"><label for="{{matchedIngredients[0][$index + 1]}}">{{matchedIngredients[0][$index + 1]}}</label></div>
  <div class="col-xs-2" id='singleColumn' ng-show="matchedIngredients[0][$index+2] != null"><input type="checkbox" checklist-model="selectedIngredients.ingredients" checklist-value="matchedIngredients[0][$index+2]" ng-click=check() id="{{matchedIngredients[0][$index+2]}}"><label for="{{matchedIngredients[0][$index + 2]}}">{{matchedIngredients[0][$index + 2]}}</label></div>
  <div class="col-xs-2" id='singleColumn' ng-show="matchedIngredients[0][$index+3] != null"><input type="checkbox" checklist-model="selectedIngredients.ingredients" checklist-value="matchedIngredients[0][$index+3]" ng-click=check() id="{{matchedIngredients[0][$index+3]}}" ><label for="{{matchedIngredients[0][$index + 3]}}">{{matchedIngredients[0][$index + 3]}}</label></div>
  <div class="col-xs-2" id='singleColumn' ng-show="matchedIngredients[0][$index+4] != null"><input type="checkbox" checklist-model="selectedIngredients.ingredients" checklist-value="matchedIngredients[0][$index+4]" ng-click=check() id="{{matchedIngredients[0][$index+4]}}" ><label for="{{matchedIngredients[0][$index + 4]}}">{{matchedIngredients[0][$index + 4]}}</label></div>
  <div class="col-xs-2"></div>

  <!-- <div ng-hide="myvar == null"></div> instead of <div ng-show="myvar != null"></div> -->


  </form>
</div>

<h1>Selected Ingredients:</h1>


<div class="is-centered" id='selectedIngredientsDiv'>
  <ul id="selectedIngredients" ng-repeat="ingredient in selectedIngredients.ingredients" ng-if="$index % 2 == 0" class="row is-text-centered">
    <li class="col-md-4"></li>
    <li class="col-xs-2 text-center" id='selectedIngredient'>{{selectedIngredients.ingredients[$index]}}</li>
    <li class="col-xs-2 text-center" id='selectedIngredient'>{{selectedIngredients.ingredients[$index+1]}}</li>
    <li class="col-md-4"></li>
  </ul>

</div>


<div class="is-text-centered">
  <a class='button' id='ajaxCall' ng-click='ajaxCall()'>Find Recipes!</a>
</div>

</div>

<ul class="grid is-text-centered" masonry="true">
    <li ng-repeat="recipe in data" class='grid-item' id='recipesDiv'>
        <span id='recipeTitle'>{{recipe.title}}</span>
        <a target="_blank" href={{recipe.source_url}}><img src={{recipe.image_url}}></a>
    </li>
</ul>



</div>
