html{
  background-color: #fff;
}

header{
  padding: 20px;
  margin-top: 80px;
}

body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

*{
  /*font-family: 'Lateef', cursive;*/
  font-family: 'Lora', serif;
}

a {
  color: #00B7FF;
}

.button, #findIngredient{
  width: 230px;
  font-size: 24px;
  margin-top: 20px;
  height: 40px;
  padding: 7px;
}

.button:hover{
  border: solid 2px #AA1111;
  text-decoration: none;

}

#findIngredient:hover{
  border: solid 2px #AA1111;
  text-decoration: none;
}

i{
  display: inline;
  margin: 32px 15px 10px 15px;
}
#seclogo{
  margin-top: 40px;
}
#mainHeader{
  color: #AA1111;
  display: inline;
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 5px;
}

#subtitle{
  color: #000;
  font-size: 40px;
}

#ingredientSearch{
  margin-top: 50px;
  background-color: #1A1A1A;
  padding: 50px;
  width: 100%;
}

#ingredientInput{
  width: 50%;
  margin: 20px auto;
}

.title{
  color: #fff;
  font-size: 50px;
}

#findIngredient{
  margin-top: 10px;
}

#matchedIngredients{
  margin: 10px auto;
  display: block;
  width: 100%;
}

#matchedIngredientsOuterDiv{
  width: auto;
  margin: 10px auto;
}

#singleColumn{
  margin: 0px;
}

.formClass{
  margin: 0px auto;
  width: 100%;
}

/*checkbox selector css*/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  color: #000;
  border: solid 1px;
  border-color: #000;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  font-size: 26px;
}


input[type="checkbox"]:checked + label {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #AA1111;
  border: groove 2px;
  border-color: #000;
}

input[type="checkbox"] + label:hover{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #AA1111;
}

#selectedIngredient{
  font-size: 28px;
  color: #AA1111;
  font-weight: bold;
}


li{
  display: inline;
}



#recipesDiv{
  display: inline-block;
  border-radius: 5px;
  margin: 8px;
  padding: 16px;
  /*width: 200px;*/
  /* border: groove 2px;
  border-color: #1A1A1A; */
  vertical-align: middle;
  width: 350px;
}

#recipesDiv:hover{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: groove 0.5px;
  border-color: #000;
  /*width: 200px;*/
  margin: 8px;
  padding: 16px;
  color: #AA1111;
}

#recipeTitle{
  font-size: 26px;
  display: block;
  word-wrap: break-word;
  width: 90%;
  font-weight: bolder;
  text-align: center;
  margin: 0  auto;
}

img{
  width: 100%;
  margin: 1%;
}

/*img{
  height: 200px;
  width: 180px;
  border-radius: 5px;
}*/
